<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>EduLinq Autograder Web CI Images</title>

        <link rel="icon" href="images/favicon.png">

        <link rel='stylesheet' type='text/css' href='css/style.css'>
    </head>
    <body>
        <div class='page'>
            <h1>EduLinq Autograder Web CI Images</h1>

            <div class='overview'>
                <p>The most recent images generated during the Autograder Web's CI.</p>
                <p>You can find the main repository at <a href='https://github.com/edulinq/python-web'>github.com/edulinq/python-web</a>.</p>
                <p>Below you can find screenshots from various different CI runs.</p>
                </p>
            </div>

            <div class='docs'>
                <span>CI runs:</span>
                <ul>
                    <!-- RUNS-MARKER -->
                </ul>
            </div>
        </div>
    </body>
</html>
